{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}