    <script type="text/javascript">
        window.initialData = <%- JSON.stringify(initialData).replace(/</g, '\\u003c') -%>
    </script>
  
<%- include('header') -%>
    
    <div id="root">
        <%- initialMarkup %>
    </div>   

<%- include('footer') -%>