.movieItem {
  text-align: left;
  display: block;
  height: 400px;
  padding: 30px;
  margin: auto;
  background-color: slategray;
}

.backToSearchButton {
  display: inline-block;
  float: right;
}

.details {

}

.img {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  height: 300px;
}

.text {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 50%;
}

.summary {

}

.director {

}

.cast {

}